
button{
    border-color: #DDE5ED;
    background-color: #DDE5ED;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 30px;
}
#thisbody {
    /* background: url("/bk_new.jpg"); */
    background-color: #DDE5ED;
    /* color: #080808; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th,
td {
    margin-right: auto;
    text-align: center;
}
.blockList{
    margin-left: 23%;
    margin-right:32%;
    margin-top: 30px;
    margin-bottom: 30px;
}

a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
}

a{
    color:none;
}

li{
    font-size: 32px;
    color: #fff;
    opacity: 0.8;
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
}

ul.w3-ul.w3-card-4 {
    margin-left: 00%;
    border-bottom: none;
}

th {
    background-color: #6a0dad;
    color: white;
}

table {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.newbtn{
    margin-right: 0%;
    margin-left: auto;
    margin-right: 0%;
}

tr {
    font-size: 30px;
}

#newtr {
    font-size: 30px;
}


tr:nth-child(even) {
    background-color: #b19cd9;
}

/* tr:nth-child(odd) {
    background-color: #fff;
} */

p {
    font-size: 50px;
    color: #4C516D;
    opacity: 1.0;
    text-align: center;
    font-family: "Lobster", serif;
}

#week {
    border: 0em;
    font-family: "Allerta Stencil", Sans-serif;
    background-color: #233f57;
}
#week:hover {
    background-color: #111;
}

#lock_mode{
    border: 0em;
    font-family: "Allerta Stencil", Sans-serif;
    background-color: #233f57;
}

#lock_mode:hover {
    background-color: #111;
}

#unlock_mode{
    border: 0em;
    font-family: "Allerta Stencil", Sans-serif;
    background-color: #233f57;
}

#unlock_mode:hover {
    background-color: #111;
}

#blockedsites {
    border-color: #080808;
    border-width: 3px;
    border-radius: 16px;
    font-family: "Allerta Stencil", Sans-serif;
    font-size: 50px;
}


.height100 {
    height: 100px;
}
.square100 {
    width: 100px;
    height: 100px;
}

.toCenter {
    margin-left: -9%; 
    text-align: center;
}

#url {
    height: 100px;
    opacity: 0.4;
    font-size: 36px;
    color: #080808;
    font-weight: bold;
}

.block_up{
    text-align: center;

}

#add {
    /* background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 40px; */
    font-size: 20px;
    /* text-shadow: none; */
}

#Timer {
    text-align: center;
    font-size: 60px;
    opacity: 0.4;
    height: 100px;
    /* width: 70;
    position: relative;
    display: block;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: #6a0dad;
    line-height: 1.2;
    margin-bottom: 25px; */
}

#unblockButton {
    /* width: 30%; */
    /* background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 40px; */
    font-size: 20px;
    /* text-shadow: none; */
}

#addToList {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

#unblock {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}

#expandButton{
    margin-top: 30px;
}

#weekreport{
    margin-top: 30px;
    /* display: none; */
}

.wrapper {
    text-align: center;
}

.wrapper ul {
  /* display: inline-block; */
  list-style-type: none;
  font-family: "Raleway";
  margin-bottom: 25px;
  padding: 0;
  font-size: 60px;
  font-weight: 600;
  overflow: hidden;
  text-align: center;
  background-color: #233f57;
}

.wrapper li {
  display: inline-block;
}

.wrapper li button {
  display: block;
  color: white;
  padding: 27px 19px;
  text-decoration: none;
}

/* .wrapper li button:hover {
  background-color: #111;
} */

/* #app {
    position: relative;
    left: -25px;
} */