#weekreport #head {
  color: #FF1493;
  font-size: 500%;
  font-weight:normal;
}
.leftShift{
margin-left: 100px;
}
#weekreport #congratulation {
  color: Black;
  font-size: 200%;
  font-style: normal;
  font-weight:normal;
  font-family: Charcoal, sans-serif;

}

#weekreport .wording {
  color: DimGrey;
  font-size: 200%;
  font-style: normal;
  font-weight:normal;
  font-family: Charcoal, sans-serif;
}
#thisWeek {
  color: #8B0000;
  font-size: 300%;
  font-style: normal;
  font-weight:normal;
  font-family:Impact, Charcoal, sans-serif;
}
#improvements {
  color: #8B0000;
  font-size: 300%;
  font-style: normal;
  font-weight:normal;
  font-family: Impact,Charcoal, sans-serif;
}
